django >= 4.0.0,<4.1.0
djangorestframework
djangorestframework-simplejwt
pyyaml
django-cors-headers
Pillow
drf-spectacular
requests
django-environ
gunicorn
psycopg2-binary
dj-database-url
whitenoise
uvicorn
django-filter
qrcode[pil]
requests